
.button1 {
    -fx-background-color: #34665A;
    -fx-background-radius: 20 20 20 20;
}

.button1:hover {
    -fx-background-color: #417E70;
}

/*
.button1:pressed {
    -fx-background-color: #C89C32;
}

.button1:selected {
    -fx-background-color: #C89C32;
}

 */

.button2 {
    -fx-background-color: #CFCFCF;
    -fx-background-radius: 40 40 40 40;
}

.button2:hover {
    -fx-background-color: #9C9C9C;
}

/*
.button2:pressed {
    -fx-background-color: #7797B3;
}

.button2:selected {
    -fx-background-color: #7797B3;
}

.button3:pressed {
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
}

 */

.button4 {
	-fx-background-color: white;
	-fx-background-radius: 40 40 40 40;
	-fx-border-color: #34665A;
	-fx-text-fill: #34665A;
	-fx-border-radius: 40;
	-fx-border-width: 5;
	-fx-effect:  dropshadow(two-pass-box, grey, 10, 0, 3, 3);
}

.button4:hover {
	-fx-background-color: white;
	-fx-border-color: #C89C32;
	-fx-text-fill: #C89C32;
	-fx-border-width: 7;
}

/*
.button4:pressed {
	-fx-background-color: #C89C32;
	-fx-border-color: #C89C32;
	-fx-text-fill: white;
}

.button4:selected {
    -fx-background-color: #C89C32;
	-fx-border-color: #C89C32;
	-fx-text-fill: white;
}

 */


.transparent{
    -fx-background-color: rgba(0,0,0,0);
}



.open-screen-bar{
    -fx-background-color: #c89c32;
    -fx-background-radius: 50 50 50 50;
}

.text-field {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #000000;
	-fx-border-width: 0.8;
	-fx-border-radius: 20;
}

.pet-box{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, grey, 31, 0,11, 10);
}

.pet-box:hover{
    -fx-background-color: #DADADA;
}


.radio-button1 {
	-fx-border-color: #34665A;
	-fx-border-radius: 20;
	-fx-border-width: 3;
	-fx-text-fill: #34665A;
}


.radio-button1:hover .radio {
    -fx-border-color: #C89C32;
}

/*
.radio-button1:selected .radio {
    -fx-border-color: #C89C32;
}

 */

.radio-button1:hover {
	-fx-border-color: #C89C32;
	-fx-border-radius: 20;
	-fx-border-width: 3;
	-fx-text-fill: #C89C32;
}
/*

.radio-button1:selected {
    -fx-background-color: #C89C32;
    -fx-background-radius: 20;
    -fx-border-color: #C89C32;
    -fx-border-radius: 20;
    -fx-border-width: 0.3;
    -fx-text-fill: #ffffff;
}

.radio-button1:selected .dot{
    -fx-background-color: #C89C32;
}

 */


.request-box{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, grey, 25, 0,11, 10);
}


.radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: #34665A;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 5px;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #34665A;
    -fx-border-radius: 5;
    -fx-border-width: 2px;
}

.check-box .mark {
    -fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
/*
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: #34665A;
    -fx-background-radius: 5;
}

 */

.button-modify {
    -fx-background-color: #c89c32;
    -fx-background-radius: 50;
}

.button-modify:hover {
    -fx-background-color: #D3AD76;
}

.button-refuse {
    -fx-background-color: #670D01;
    -fx-background-radius: 50;
}

.button-refuse:hover {
    -fx-background-color: #7A443D;
}



